@use '../shared';

header {
  height: fit-content;
  padding-top: shared.$spacing;
  padding-bottom: shared.$spacing;
  position: fixed;
  width: 100vw;
  z-index: 5;
  background: var(--color-base-100);

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: shared.$spacing;
  }

  .logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem !important;
    color: var(--color-primary);
  }
}
