@use '../shared';

#getstarted {
  margin-bottom: calc(shared.$spacing-xxl * 2);

  h3 {
    max-width: 17ch;
    margin: 0 auto;
    text-align: center;
  }

  .install {
    max-width: 425px;
    margin: shared.$spacing-xl auto 0;

    .tab {
      margin-top: shared.$spacing;
    }
  }

  p {
    text-align: center;
  }
}
