@use '../shared';

#hero {
  min-height: 100vh;
  display: grid;
  align-items: center;

  .content {
    display: flex;
    align-items: center;
  }

  .text {
    max-width: 75ch;
  }

  .illustration {
    display: grid;
    gap: shared.$spacing;
  }
}
