@use '../shared';

#syntax {
  text-align: center;
  min-height: 50vh;
  display: grid;
  align-items: center;

  .illustration {
    display: flex;
    justify-content: space-evenly;
    margin: shared.$spacing-lg;
  }

  p {
    max-width: 45ch;
    margin: 0 auto;
  }
}
