@use '../shared';

#toggle {
  text-align: center;

  .content {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid color-mix(in srgb, var(--color-secondary), transparent 75%);
    border-bottom: 2px solid color-mix(in srgb, var(--color-secondary), transparent 75%);
  }

  button {
    width: fit-content;
    margin: shared.$spacing auto 0;
  }
}
