// base stuff
@use './shared';
// layout style
@use './layout';
// screenshift for responsive
@use 'screenshift/scss';
// home page style
@use './home';

main {
  display: grid;
  min-height: 100vh;
  gap: calc(shared.$spacing-xxl * 2);
}

section {
  min-height: 75vh;
  display: grid;
  align-items: center;
}
